.Board {
  display: block;
  width: 100%;
}
@media (max-width: 1400px) {
  .Board {
    margin-left: auto;
  }
}
@media (max-width: 1100px) {
  .Board {
    margin-left: 31.5%;
  }
}

@media (max-width: 800px) {
  .Board {
    margin-left: 25%;
  }
}

@media (max-width: 620px) {
  .Board {
    margin-left: 18%;
  }
}
@media (max-width: 440px) {
  .Board {
    margin-left: 13%;
  }
}

@media (max-width: 440px) {
  .Board {
    margin-left: 13%;
  }
}

@media (max-width: 350px) {
  .Board {
    margin-left: 12%;
  }
}
