.Gameboard {
  font-family: "Courgette", cursive;
  font-size: 1.2em;
  letter-spacing: 0.2%;
  text-align: center;
}

h1 {
  color: rgb(92, 55, 124);
}

@media (max-width: 420px) {
  h1 {
    display: none;
  }
}
