.Gameboard {
  font-family: "Courgette", cursive;
  font-size: 1.2em;
  letter-spacing: 0.2%;
  text-align: center;
  background-image: linear-gradient(to right top, #2150c8, #4646bb, #5a3bae, #682fa0, #712291);;
  height: 100vh;
}

.message {
  font-size: large;
}

h1 {
  color:white;
}

@media (max-width: 420px) {
  h1 {
    display: none;
  }
}

@media (max-width: 420px) {
  .message {
    font-size: medium;
  }
}

@media (max-width: 620px) {
  .message {
    font-size: medium;
  }
}

@media (max-width: 440px) {
  .message {
    font-size: small;
  }
}

@media (max-width: 350px) {
  .message {
    font-size: smaller;
  }
}
