.Gameboard {
  font-family: "Courgette", cursive;
  font-size: 1.2em;
  letter-spacing: 0.2%;
  text-align: center;
}

.message {
  font-size: large;
}

h1 {
  color: rgb(92, 55, 124);
}

@media (max-width: 420px) {
  .message {
    font-size: medium;
  }
}

@media (max-width: 620px) {
  .message {
    font-size: medium;
  }
}

@media (max-width: 440px) {
  .message {
    font-size: small;
  }
}

@media (max-width: 350px) {
  .message {
    font-size: smaller;
  }
}
