.flipboxInner {
  position: relative;
  width: 30%;
  height: 30%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: inline-block;
  margin: 3%;
}

.flip {
  transform: rotateY(180deg);
}

.flipboxFront,
.flipboxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipboxFront {
  background-color: dodgerblue;
  color: white;
  /* transform: rotateY(180deg); */
}

.flipboxBack {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

/* .turnAround {
  transform: rotateY(180deg);
} */
