.Picture {
  width: 31.33%;
  display: inline-block;
  border: 30% solid black;
  margin-right: 3%;
  margin-bottom: 3%;
  height: 150px;
  cursor: pointer;
}
.Picture:last-child {
  margin-right: 0;
}
.show {
  background-color: white;
  color: black;
}

.hide {
  background-color: black;
  color: transparent;
}

h3 {
  padding-top: 25%;
  font-weight: 200;
  cursor: pointer;
}
.hidePic {
  visibility: hidden;
}
