.Pictures {
  width: 26%;
  padding: 2%;
  padding-bottom: 1%;
  border: 1px solid inear-gradient(to right top, #2150c8, #4646bb, #5a3bae, #682fa0, #712291);;
  display: inline-block;
  box-shadow: 0 12px 12px -3px #1c1c1d80;
  background-image: linear-gradient(to right top, #2150c8, #4646bb, #5a3bae, #682fa0, #712291);;
  border-radius: 3px;
}

@media (max-width: 1400px) {
  .Pictures {
    width: 30%;
    padding: 2%;
    padding-bottom: 1%;
  }
}

@media (max-width: 1100px) {
  .Pictures {
    width: 40%;
    padding: 2%;
    padding-bottom: 1%;
    display: block;
  }
}

@media (max-width: 800px) {
  .Pictures {
    width: 48%;
    padding: 3%;
    padding-bottom: 1%;
    display: block;
  }
}

@media (max-width: 620px) {
  .Pictures {
    width: 57%;
    padding: 3%;
    padding-bottom: 1%;
    display: block;
  }
}

@media (max-width: 440px) {
  .Pictures {
    width: 64%;
    padding: 4%;
    padding-bottom: 1%;
    display: block;
  }
}
