.flipboxInner {
  position: relative;
  width: 150px;
  height: 150px;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: inline-block;

  margin: 3%;
}

/* .flipboxInner:hover {
  transform: rotateY(180deg);
} */
.flip {
  transform: rotateY(180deg);
}

.flipboxFront,
.flipboxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  /* backface-visibility: hidden; */
}

.flipboxFront {
  background-color: #bbb;
  color: black;
}

.flipboxBack {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
