.WordContainer {
  border: 1px solid black;
  background-color: yellowgreen;
  margin-right: 5%;
  padding: 5px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 10px 9px 18px -4px rgba(13, 12, 10, 1);
  -moz-box-shadow: 10px 9px 18px -4px rgba(13, 12, 10, 1);
  box-shadow: 10px 9px 18px -4px rgb(3, 5, 5);
}

@media (max-width: 1000px) {
  .WordContainer {
    height: 430px;
  }
}
h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: blueviolet;
  font-size: 1.2em;
}
