.WordContainer {
  border: 1px solid black;
  padding: 20px;
  margin-top: 50px;
  width: 25%;
  height: auto;
  text-align: left;
  background-color: yellowgreen;
  border-radius: 20px;
  color: black;
  font-size: larger;
}
