.Pictures {
  width: 40%;
  border: 1px solid black;

  padding: 2% 0;
  box-shadow: 3px 3px 5px 6px #ccc;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  margin: 4% 30%;
  border-radius: 30px;
}
