.Pictures {
  width: 40%;
  border: 1px solid black;

  padding: 3% 0 2% 0;
  box-shadow: 3px 3px 5px 6px #ccc;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  margin: 4% 30%;
  border-radius: 30px;
}
button {
  width: 40%;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(255, 153, 0);
  color: white;
  font-size: large;
  font-style: italic;
  outline: none;
}
button:first-child {
  margin-right: 30px;
}
